
/* nav bar css */



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #357ABD;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }

  .logo-li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Chat section CSS*/
#container {
  padding-left: 40px;
 background-color: #c8dcf6;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  /* height: 700px; */
  display: flex;
  width: 1480px;
  height: 90vh; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrollbar when content overflows */
}

/* ===== MENU ===== */
.menu {
  float: left;
  height: 700px;;
  width: 70px;
  background: #4768b5;
  background: -webkit-linear-gradient(#4768b5, #35488e);
  background: -o-linear-gradient(#4768b5, #35488e);
  background: -moz-linear-gradient(#4768b5, #35488e);
  background: linear-gradient(#333948, #35488e);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

.menu .items {
  list-style:none;
  margin: auto;
  padding: 0;
}

.menu .items .item {
  height: 70px;
  border-bottom: 1px solid #6780cc;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #9fb5ef;
  font-size: 17pt;
}

.menu .items .item-active {
  background-color:#5172c3;
  color: #FFF;
}

.menu .items .item:hover {
  cursor: pointer;
  background-color: #4f6ebd;
  color: #cfe5ff;
}

/* === CONVERSATIONS === */

.discussions {
  width: 100%;
  height: 700px;
  box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
  overflow: hidden;
  background-color: #87a3ec;
  display: inline-block;
}

.discussions .discussion {
  width: 100%;
  height: 90px;
  background-color: #FAFAFA;
  border-bottom: solid 1px #E0E0E0;
  display:flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search {
  display:flex;
  align-items: center;
  justify-content: center;
  color: #E0E0E0;
}

.discussions .search .searchbar {
  height: 40px;
  background-color: #FFF;
  width: 70%;
  padding: 0 20px;
  border-radius: 50px;
  display:flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search .searchbar input {
  margin-left: 15px;
  height:38px;
  width:100%;
  border:none;
  font-family: 'Montserrat', sans-serif;;
}


.discussions .message-active {
  width: 98.5%;
  height: 90px;
  background-color: #FFF;
  border-bottom: solid 1px #E0E0E0;
}

.discussions .discussion .photo {
    margin-left:20px;
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.online {
  position: relative;
  top: 30px;
  left: 35px;
  width: 13px;
  height: 13px;
  background-color: #8BC34A;
  border-radius: 13px;
  border: 3px solid #FAFAFA;
}

.desc-contact {
  height: 43px;
  width:50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discussions .discussion .name {
  margin: 0 0 0 20px;
  font-family:'Montserrat', sans-serif;
  font-size: 11pt;
  color:#515151;
}

.discussions .discussion .message {
  margin: 6px 0 0 20px;
  font-family:'Montserrat', sans-serif;
  font-size: 9pt;
  color:#515151;
}

.timer {
  margin-left: 15%;
  font-family:'Open Sans', sans-serif;
  font-size: 11px;
  padding: 3px 8px;
  color: #BBB;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 15px;
}

.chat {
  width: 97%;
  height: 75%;
  padding-top: 25px;
}

.header-chat {
  background-color: #c8dcf6;
  height: 80px;
  /* box-shadow: 0px 3px 2px rgba(0,0,0,0.100); */
  display:flex;
  position: fixed;
  align-items: center;
  margin-bottom: 15px;
  padding-right: 980px;
}

.chat .header-chat .icon {
  margin-left: 8px;
  color:#515151;
  font-size: 20pt;
  padding-left: 10px;
}

.chat .header-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-size: 20pt;
  padding: 20px;
}

.chat .header-chat .right {
  position: absolute;
  right: 40px;
}

.chat .messages-chat {
  padding-bottom: 90px;
  padding-top: 25px;
}

.chat .messages-chat .message {
  display:flex;
  align-items: center;
  margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat .messages-chat .text {
  margin: 0px;
  background-color: #4f6ebd;
  padding: 15px;
  border-radius: 12px;
  color: #fff;
}

.text-only {
  margin-left: 0px;
  margin-right: 0px;
}

.time {
  font-size: 10px;
  color:#000;
  margin-bottom:10px;
  margin-left: 10px;
  /* flexbox alignment rule */

}

.response-time {
  float: right;
  margin-right: 10px !important;
}

.response {
  float: right;
  margin-right: 10px !important;
  margin-left:auto; /* flexbox alignment rule */
}

.response .text {
  background-color: #9fc6f8 !important;
  color: #000 !important;
}
/* Style for the emojis container */
/* Style for the emojis container */
.emojis-container {
  position: absolute;
  top: calc(-100% - 220px); /* Adjust as needed */
  left: 8%;
  transform: translateX(-20%);
}
/* Original styling for emojis */
.emojis {
  display: flex;
  flex-wrap: wrap; /* Allow emojis to wrap to the next line */
  position: absolute;
  top: -160%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-20%);
  background-color: #fff; /* Background color of the box */
  border: 1px solid #ccc; /* Border around the box */
  padding: 5px; /* Adjust as needed */
  border-radius: 5px; /* Adjust as needed *//* Ensure the box is above the smile icon */
}

/* Style for each emoji row */
.emoji-row {
  display: flex;
  justify-content: space-around;
}

/* Style for each emoji */
/* Style for each emoji */
.emojis > div > div {
  cursor: pointer;
  margin: 3px; /* Add spacing between emojis */
  transition: transform 0.2s ease; /* Add smooth transition effect */
}

.emojis > div > div:hover {
  transform: scale(1.4); /* Scale only the hovered emoji */
}



.footer-chat {
  width: calc(100% - 660px);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Change from absolute to fixed */
  background-color: white;
  bottom: 0;
  top: 20;
  border-radius: 35px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  margin-left: 270px;
  margin-bottom: 30px;
}

.footer-chat .write-message {
  width: 90%;
  height: 50px;
  padding-left: 5px;
  align-items: center;



/* Add border-radius for rounded corners */
}
.write-message:focus {
  outline: none;
}


.footer-chat .icon {
  color: #68a3ef;
  font-size: 15pt;
}

.footer-chat .send {
  color: #fff;
  background-color: #68a3ef;
  padding: 10px; /* Increase padding for a larger button */
  border-radius: 25px; /* Add border-radius for rounded corners */
  font-size: 14pt;

}
.footer-chat .name {
  margin: 0 0 0 20px;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 13pt;
  color: #515151;
}

.footer-chat .right {
  position: absolute;
  right: 40px;
}

.write-message {
  border:none !important;
  width:60%;
  height: 50px;


}

.footer-chat *::-webkit-input-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
  margin-left:5px;
}
.footer-chat input *:-ms-input-placeholder {
  color: #C0C0C0;
  font-size: 18pt;
}

.clickable {
  cursor: pointer;
}

